@font-face {
  font-family: myFirstFont;
  src: url(gravitation_falls.ttf);
}
h1 {
    font-family: myFirstFont;
    font-size:40px;
    color:#732335;
}
hr {
border: 1px inset #f1f1f177;
  margin-bottom: 25px;
}
.input-field {
    border:none;
    outline:none;
    background-color:white;
    padding:12px 14px;
    margin: 7px 0;
    border-radius: 4px;
    font-size:16px;
    color:#632335;
    
    
}
.input-field:focus {
  border:2px solid rgb(0, 132, 255);
}
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  }
  button:hover {
    opacity:1;
  }
label {
  font-family: myFirstFont;
  color:#1e1e20
}
.signupbtn {
    background-color:rgb(40, 73, 65);
    float: center;
    width: 10%;
}
.cancelbtn {
    background-color:#732335;
    float:center;
    width: 10%;
    
}
body {
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    background: url(gfallsview.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


.password-field {
  
  border:none;
  outline:none;
  background-color:white;
  padding:12px 14px;
  margin: 7px 0;
  border-radius: 4px;
  font-size:16px; 
  
}

.password-field:focus {
  border:2px solid #632335;
}
.password-container {
  width:300px;
  position: relative;
}
.fa-eye {
  position: absolute;
  top:53%;
  right:43%;
  cursor:pointer;
  transform: translateY(-50%);
  color:#632335
}
.fa-eye-slash {
  position: absolute;
  top:53%;
  right:43%;
  cursor:pointer;
  transform: translateY(-50%);
  color:#632335
}
.fa-facebook {
  font-size:30px;
  color: blue
}
.fa-square-instagram {
  font-size: 30px;
  background: radial-gradient( circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-twitter {
  font-size:30px;
  color:rgb(0, 162, 255);
}
#checkbox {
  accent-color: rgb(40, 73, 65);
}
 
